# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Evidence-based Comparative Politics Research Unit | University of Münster and Aarhus University
tagline: >
  Researching politics in comparative perspective using experimental methods
  Comparative Politics, social norms, and experimental methods
email: db@danbischof.com
description: > # this means to ignore newlines until "baseurl:"
  The Evidence-based Comparative Politics Research Unit is based at the
  Department of Political Science at the University of Münster as well as 
  at Aarhus University. The group researches political developments in 
  contemporary democracies. A major focus is put on the challenges to 
  recent democracies, such as the erosion of democratic norms, as well as 
  on major public concerns coming with it such as lack of representation 
  by political elites and the raise of extremism more generally.
baseurl: ""
url: "https://compev-unit.github.io"
lang: en_GB

include:
  - .htaccess
  - _pages

sass:
  sass_dir: _sass

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

plugins:
  - jekyll-seo-tag
