{% assign number_printed = 0 %}
{% for member in include.members %}
  {% assign even_odd = number_printed | modulo: 2 %}
  {% if even_odd == 0 %}<div class="row">{% endif %}

  <div class="col-sm-6 clearfix">
    <img src="{{ site.url }}{{ site.baseurl }}/images/teampic/{{ member.photo }}" class="img-responsive" width="25%" style="float: left" alt="{{ member.name }}" />
    <h4>{{ member.name }}</h4>
    <i>{{ member.position }}</i><br>
    <i>{{ member.info }}</i><br>
    <i>email: <a href="mailto:{% if member.email %}{{ member.email }}{% endif %}">{% if member.email %}{{ member.email }}{% endif %}</a></i> <br>
  {% if member.website %}<i> website: <{{ member.website }}></i>{% else %}{% endif %} 
    <ul style="overflow: hidden">
      {% if member.number_educ %}
        {% for i in (1..member.number_educ) %}
          <li>{{ member["education" | append: i] }}</li>
        {% endfor %}
      {% endif %}
    </ul>

    <br>
    <i>{{ member.bio }}</i>
  </div>

  {% assign number_printed = number_printed | plus: 1 %}
  {% if even_odd == 1 %}</div>{% endif %}
{% endfor %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 1 %}</div>{% endif %}
